body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wr {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-ch {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ri {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-bv {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-le {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-sp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-sa {
  -webkit-box-pack: last-baseline;
      -ms-flex-pack: last-baseline;
          justify-content: last-baseline;
  padding-top: 50px;
}

.flex-cv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-100 {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ico {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
}

.barra {
  float: left;
  width: 100%;
}

.cover {
  background-size: cover !important;
}

section.mosaico {
  width: 100vw;
}

section.mosaico > div {
  float: left;
  position: relative;
}

section.mosaico > div > i {
  background: #3d523f;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

section.mosaico > div > i.anima {
  width: 0;
}

section.mosaico .f1 {
  background: url(../images/sala-verde-01.jpg) center center/cover;
  width: 40vw;
  height: 100vh;
}

section.mosaico .f1 h3 {
  color: #fff;
  -webkit-transform: rotate(90deg) translateY(30px);
          transform: rotate(90deg) translateY(30px);
  font-weight: 400;
}

section.mosaico .conteudo1 {
  background: #3d523f;
  width: 35vw;
  height: 60vh;
  color: #fff;
  padding: 20px;
  position: relative;
}

section.mosaico .conteudo1 h4 {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  -webkit-transform: rotate(-90deg) translateX(-10px);
          transform: rotate(-90deg) translateX(-10px);
}

section.mosaico .conteudo1 h5 {
  font-size: 16px;
  font-weight: normal;
}

section.mosaico .conteudo1 h5 span {
  letter-spacing: -2px;
  margin: 0 10px;
}

section.mosaico .conteudo1 h2 {
  font-size: 30px;
  font-weight: 300;
}

section.mosaico .conteudo1 p {
  font-size: 12px;
  font-weight: normal;
}

section.mosaico .f2 {
  background: url(../images/sala-verde-04.jpg) center center/cover;
  width: 25vw;
  height: 60vh;
}

section.mosaico .f3 {
  background: url(../images/sala-verde-02.jpg) center center/cover;
  width: 20vw;
  height: 40vh;
}

section.mosaico .conteudo2 {
  width: 20vw;
  height: 40vh;
  padding: 20px;
  background: #fc9073;
}

section.mosaico .conteudo2 h5 {
  color: #fff;
  font-weight: 300;
}

section.mosaico .f4 {
  width: 20vw;
  height: 40vh;
  background: url(../images/sala-verde-03.jpg) center center/cover;
}

.anima-nome {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.anima-nome.gira1 h3 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  height: 170px;
}

.anima-nome.gira1.gira2 h3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 100vw;
  width: 100vw;
}

.anima-nome.gira1.gira2.some {
  opacity: 0;
  visibility: hidden;
}

.anima-nome:not(.gira1) h3:hover {
  background: #fc9073;
}

.anima-nome h3 {
  color: #fff;
  cursor: pointer;
  background: #3d523f;
  font-weight: normal;
  width: 140px;
  height: 40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-duration: 1200ms;
          transition-duration: 1200ms;
}
/*# sourceMappingURL=style.css.map */